<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image predict</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
    <form action="\" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container text-center  px-5 py-5 mt-5"  >
            <h3 class="mb-4">uplaod image </h3>
            <h2><input type="file" name="imgpath" id="imgpath"></h2>
            <button type="submit" class="mt-5 btn btn-primary">submit</button>
        </div>
        <img src={{imgpath}} alt="assasa" class="rounded mx-auto d-block border border-primary border-3 py-2"><br>

        <h1 class="text-center py-2">{{label}}</h1>

    </form>
</body>
</html>